<div class="card">
    <img src="../assets/edit.png"  class="edit">
    <div class="profile text-center">
        <img src="../assets/outline.png" class="outline">
        <img src="../assets/newAvatar.png" class="avatar">
        <div class="designer">Designer Name</div>
        <div class="lw">love with UI / GUI / UX</div>
    </div>
    <ul class="list-group list-group-flush ul-hover">
        <li class="list-group-item" (click)="developListEmail()">
            <img src="../assets/icon5.png" class="li-icon">
            Mail Inbox
            <div class="nr">5</div>
        </li>
        <li class="list-group-item">
            <img src="../assets/icon3.png" class="li-icon">
            Friends
            <div class="nr">25</div>
        </li>
        <li class="list-group-item">
            <img src="../assets/icon2.png" class="li-icon">
            Invites
            <div class="nr">1</div>
        </li>
        <li class="list-group-item">
            <img src="../assets/icon4.png" class="li-icon">
            Bookmarks
        </li>
        <li class="list-group-item">
            <img src="../assets/icon.png" class="li-icon">
            Account Settings
        </li>
        <li class="list-group-item text-center li-exit">
            <img src="../assets/exit.png" class="exit li-icon"> 
        </li>
    </ul>
</div>
